.popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 965px;
    bottom: 50%;
    position: relative;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-top: 7%;
}

.popular hr{
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background: #252525;
    border: 1.5px solid #252525;

}

.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 20px;

}